<%= render '/users/show', user: @user,book: @book %>

  <%= link_to attachment_image_tag(@user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg"),user_path(@user.id) %>
  <p><%= link_to @user.name, user_path(@user.id) %></p>

<h2>Title:</h2>
<p><%= link_to @book.title, book_path(@book.id) %></p>
<h2>Body:</h2>
<p><%= @book.body %></p>
  <% if @user.id == current_user.id %>
    <%= link_to "Edit", edit_book_path(@book.id) %></p>
    <%= link_to "Destroy", book_path(@book.id) , method: :delete, "data-confirm" => "Are you sure?" %>
  <% end %>

<!-- 編集ボタンと削除ボタンをつける 編集バッチリ-->